extends layout

block header
  h1= title
  p Welcome to #{title}, are you up for a challenge?
  <a href="about">about</a>


block content
  
  h1 Choose Role: <select><option value="visual">Visual Design</option><option value="UX">UX Design</option><option value="Front-End">Front-End Dev</option><option value="Back-End">Back-End Dev</option></select>

  h1 Choose Skill Level: <select><option value="junior">Junior</option><option value="middle-weight">Middle-Weight</option><option value="Senior">Senior</option></select>

  br

  button(onclick='pickANAPI()') Choose API
  button(onclick='pickAPriority()') Choose Priority

  
  h2 Your challenge, should you choose to accept it is to: 
  h3 Make a product using the <div id="APIString" >___________</div> API, whilst making <div id="priorityString" >_________</div> a priority.
    
 
