doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      block header
    main
      block content
    footer
      script(src="/javascripts/scripts.js")
