
body {
  font-family: "HelveticaNeue";
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

header {
  margin: 0;
  padding: 50px;
  color: #000;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  margin: 50px;
}

button{
  background-color: #efefef;
  padding: 10px;
  color: #000;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #BBBBBB;
  margin: 5px;
  box-shadow: 0 6px #BBBBBB;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  position: relative;
  outline: none;
}

button:hover{
	box-shadow: 0 4px #bbb;
	top: 2px;
}

button:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

select{
  border: 5px transparent solid;
  font-size: 24px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  background: #f5f5f5 url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 200px center;
  width: 250px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

#blackwavelogo{width: 150px;}

.answer{
  font-size: 1.5em;
  width: 100%;
  text-align: center;
}

.dropChoice{
  width: 50%;
  float: left;
  margin: 0 auto;
}

.dropChoice span{
  font-size: 2em;
  font-weight: bold;
}

.dropChoice span select{
  display: block;
  clear: both;
}


@media (max-width: 850px) {
  .dropChoice {
    width: 100%;
    clear: both;
    display: block;
    margin: 0 auto;
  }
}















